@{
    ViewData["Title"] = "FetchCart";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model  List<Cart>
<h1>FetchCart</h1>

<table class="table table-bordered">
    <thead>
        <tr>
          
            <th>Product Name</th>
            <th>Customer Name</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) // Assuming Model is a collection of carts
        {
            <tr>
                
                <td>@item.Product.product_name</td>
                <td>@item.Customer.customer_name</td>
                <td>@item.cart_quantity</td>
                <td>@item.cart_status</td>
              
                <td>
                    <a href="@Url.Action("UpdateCart", "Admin", new { id = item.cart_id })"
                       class="btn btn-primary"
                       >
                       Update
                    </a>
                    <a href="@Url.Action("ConfirmDeleteCart", "Admin", new { id = item.cart_id })"
                       class="btn btn-danger"
                       >
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
